@model DNG.Feature.PageContent.Models.PageContentViewModel
<h1 class="mt-5">@Model.PageTitle</h1>
<p class="lead">@Model.PageContent</p>
<hr />
<p class="lead">@Model.PageSubDescription</p>
<hr />
Demo for ARM Team : <p class="lead">@Model.DemoForARM</p>
<hr />