<?xml version="1.0"?>
<configuration xmlns:role="http://www.sitecore.net/xmlconfig/role/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <sites>
      <site name="DNGHome"
            set:hostName="__Sitecore.Settings.Sites.DNG.HostName__"
            set:targetHostName="__Sitecore.Settings.Sites.DNG.TargetHostName__"
            />
    </sites>
  </sitecore>
</configuration>
