<?xml version="1.0"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="FooDBForCMCD" connectionString="__Sitecore.ConnectionStrings.FooDBForCMCD__" providerName="System.Data.EntityClient" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
  <add name="FooDBForCMCD" connectionString="__Sitecore.ConnectionStrings.FooDBForCMCD__" providerName="System.Data.EntityClient"  xdt:Transform="Replace" xdt:Locator="Match(name)" />
  <add name="FooTestGlobalEntry" connectionString="FooEntry15" 
       providerName="System.Data.EntityClient" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
  <add name="FooTestGlobalEntryA" connectionString="FooEntry15A"
       providerName="System.Data.EntityClient" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
  <add name="Sprint3CMAndCD" connectionString="Sprint3CMOnlyValue15CMCD"
       providerName="System.Data.EntityClient" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
</connectionStrings>