<?xml version="1.0"?>
<connectionStrings xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <add name="CMOnlyEntry" connectionString="__Sitecore.ConnectionStrings.CMOnlyEntry__" providerName="System.Data.EntityClient" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
  <add name="CMOnlyEntry" connectionString="__Sitecore.ConnectionStrings.CMOnlyEntry__" providerName="System.Data.EntityClient" xdt:Transform="Replace" xdt:Locator="Match(name)" />
  <add name="FooTestCMEntry" connectionString="FooEntry15CM"
         providerName="System.Data.EntityClient" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
  <add name="FooTestCMEntryA" connectionString="FooEntry15CMA"
         providerName="System.Data.EntityClient" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
  <add name="Sprint3CMOnly" connectionString="Sprint3CMOnlyValue15CM"
       providerName="System.Data.EntityClient" xdt:Transform="InsertIfMissing" xdt:Locator="Match(name)" />
  <!--Added for Blue-green should only happen on CM-->
  <add name="web" connectionString="__Sitecore.ConnectionStrings.Web__"
       xdt:Transform="Replace" xdt:Locator="Match(name)" />
</connectionStrings>