<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <services>
      <configurator type="DNG.Foundation.ORM.DI.RegisterContainer, DNG.Foundation.ORM" />
    </services>
    <pipelines>
      <glassMapper.getGlassLoaders>
        <processor type="DNG.Foundation.ORM.DI.FeatureGlassLoader, DNG.Foundation.ORM" />
      </glassMapper.getGlassLoaders>
    </pipelines>
  </sitecore>
</configuration>